@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Lexend', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1200 px;
    margin: 0 auto;
}

h1 {
    font-size: 36px;
}