@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';


@import 'base/variables';
@import 'base/mixins';
@import 'blocks/titles';

* {
    font-family: 'Lexend', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
}



@import 'blocks/header';
@import 'blocks/hero';
@import 'blocks/featured';
@import 'blocks/housetour';
@import 'blocks/reviews';



